<div id="weekview"></div>
<h1>Calendar</h1>
<div class="calendar">
  {%- for day in (1..site.data.course.days) -%}
    {%- assign date_xml = day | class_date: site.data.course.start_date | date_to_xmlschema -%}
    {%- capture dow -%}{{ date_xml | date:"%A" }}{%- endcapture -%}
    {%- capture dom -%}{{ date_xml | date:"%-d" }}{%- endcapture -%}
    {%- unless dow == "Saturday" or dow == "Sunday" -%}
      {%- if dow == "Monday" -%}<div class="week {% cycle 'odd', 'even' %}">{%- endif -%}
        <div data-date="{{ date_xml }}" class="
          calendar-date
          {{ date_xml | date:"%B" | downcase }}
        ">
          <div class="date">
            <span class="weekday">{{ dow }}</span>,
            <span class="month">{{ date_xml | date:"%B" }}</span>
            <span class="day">{{ dom }}</span>
            {%- comment -%}
              <a href="{{ site.baseurl }}/{{ date_xml | date:"%Y-%m-%d" }}/" class="day">{{ dom }}</a>
            {%- endcomment -%}
          </div>
          <div class="tasks">
          {%- assign homework_due = site.homework | where: "due" , day -%}
          {%- for post in homework_due -%}
            {% include post/card.html class="homework" label="Homework Due" %}
          {%- endfor -%}
          {%- assign lessons = site.lessons | where: "day" , day -%}
          {%- for post in lessons -%}
            {% include post/card.html class="lesson" label="Lesson" %}
          {%- endfor -%}
          {%- for post in site.projects -%}
            {%- assign post_date_xml = post.assigned | class_date: site.data.course.start_date | date_to_string | date_to_xmlschema -%}
            {%- if post_date_xml == date_xml -%}
              {% include post/card.html class="project" label="Project" %}
            {%- endif -%}
            {%- if post.due -%}
              {%- assign due_date_xml = post.due | class_date: site.data.course.start_date | date_to_string | date_to_xmlschema -%}
              {%- if post_date_xml < date_xml and date_xml < due_date_xml -%}
                {% include post/card.html class="project" label="Project" %}
              {%- endif -%}
              {%- if due_date_xml == date_xml -%}
                {% include post/card.html class="project project-due" label="Project Due" %}
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
          {%- assign meetings = site.meetings | where: "day" , day -%}
          {%- for post in meetings -%}
            {% include post/card.html class="agenda" label="Meeting" %}
          {%- endfor -%}
          {%- assign homework_assigned = site.homework | where: "assigned" , day -%}
          {%- for post in homework_assigned -%}
            {% include post/card.html class="homework" label="Homework" %}
          {%- endfor -%}
          </div>
        </div>
      {%- if dow == "Friday" -%}</div>{%- endif -%}
    {%- endunless -%}
  {%- endfor -%}
</div>
<script type="text/javascript">
  var today = new Date();

  // Render this week or next week
  var cells = document.querySelectorAll('.calendar-date');
  var first = cells[0];
  var last = cells[cells.length - 1];
  var start_date = new Date(first.dataset.date);
  var end_date = new Date(last.dataset.date);
  end_date.setDate(end_date.getDate() + 1);

  if (today >= start_date && today < end_date) {
    var weekview = document.getElementById('weekview');
    var weekheader = document.createElement('h1');
    var calendar = document.querySelector('.calendar');
    var weekcal = calendar.cloneNode(true);
    var weekcalweeks = weekcal.querySelectorAll('.week');
    weekview.appendChild(weekheader);
    weekview.appendChild(weekcal);
    if (today.getDay() > 0 && today.getDay() < 6) {
      weekheader.textContent = 'This week';
    } else {
      weekheader.textContent = 'Next week';
    }
    for (var i = 0; i < weekcalweeks.length; i++) {
      var w = weekcalweeks[i];
      var w_cells = w.querySelectorAll('.calendar-date');
      var w_first = w_cells[0];
      var w_last = w_cells[w_cells.length - 1];
      var w_start = new Date(w_first.dataset.date);
      w_start.setDate(w_start.getDate() - 2);
      var w_end = new Date(w_last.dataset.date);
      w_end.setDate(w_end.getDate() + 1);
      console.log(w_start, w_end);
      if (today >= w_start && today < w_end) {
        // Keep this week
      } else {
        w.remove();
      }
    }
  }

  // Highlight today cells
  var cells = document.querySelectorAll('.calendar-date');
  for (var i = 0; i < cells.length; i++) {
    var cell = cells[i];
    var date = new Date(cell.dataset.date);
    if (date.getYear() === today.getYear()) {
      cell.classList.add('this-year');
      if (date.getMonth() === today.getMonth()) {
        cell.classList.add('this-month');
        if (date.getDate() === today.getDate()) {
          cell.classList.add('today');
        }
      }
    }
  }
</script>
