// FIXME: This should be handled globally, but that wasn't working
@import 'mixins';

[role=banner] {
  @include pattern-checked(3px);
  border-bottom: solid 1px;
  padding: 12px 12px 8px;
  position: relative;
  .logo {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 850;
    color: inherit;
    background-color: white;
    padding: 0 4px;
    margin-left: -4px;
  }
  .toggle {
    $size: 56px;
    position: fixed;
    z-index: 3;
    right: 16px;
    bottom: 32px;
    box-sizing: border-box;
    background: black;
    border: 2px solid;
    box-shadow: 0 0 0 1px black;
    color: white;
    height: $size;
    width: $size;
    padding: 16px;
    border-radius: $size;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .line {
      width: 100%;
      height: 2px;
      border-radius: 3px;
      background-color: currentColor;
    }
  }
  nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 56px / 2 + 16px;
    min-height: 100vh;
    background: black;
    color: white;
    transform: translateX(-100vw);
    opacity: 0;
    transition: transform 150ms;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 2rem;
    font-weight: 750;
    padding: 3rem 12px 12px;
    &.active {
      opacity: 1;
      transform: translateX(0);
      transition: transform 250ms;
    }
    a {
      display: block;
      text-decoration: none;
      background: white;
      color: black;
      padding: 0 8px;
      margin: 8px 0;
    }
  }
}

@media screen and (min-width: 55rem) {
  [role=banner] {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .toggle {
      display: none;
    }
    nav {
      position: static;
      min-height: inherit;
      background-color: inherit;
      opacity: inherit;
      transform: inherit;
      transition: inherit;
      flex-direction: row;
      align-items: flex-end;
      font-size: inherit;
      padding: 0;
      a {
        margin: 0 0 0 4px;
        padding: 0 12px;
        transform: translateY(4px);
        &.active {
          border: solid 1px;
          border-radius: 3px 3px 0 0;
          border-bottom: none;
          border-top-width: 2px;
          padding-top: 4px;
          padding-bottom: 6px;
          transform: translateY(9px);
        }
      }
    }
  }
}

#search-input {
	box-sizing: border-box;
	width: 100%;
	padding: .5em 1em;
	background: $brand-100;
	border: solid 1px $brand-700;
  border-radius: 0;
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.75);
	&:focus {
		background: white;
		border-color: $brand-800;
    box-shadow: 0 0 0 0.25em $brand-600;
    outline: none;
	}
}

$placeholder-color: rgba(0, 0, 0, 0.6);
::-webkit-input-placeholder {
  color: $placeholder-color;
}
::-moz-placeholder {
	color: $placeholder-color;
}
:-ms-input-placeholder {
	color: $placeholder-color;
}
:-moz-placeholder {
	color: $placeholder-color;
}

#results-container {
	position: absolute;
  z-index: 20;
	background: white;
	border: 1px solid $brand-400;
	box-shadow: 0 1px 1px rgba(0,0,0,0.25);
	list-style: none;
	margin: 0;
	padding: 0;
	&:empty {
		display: none;
	}
	a {
		color: black;
		font-weight: 700;
		line-height: 1.3;
		padding: 0.5em 1em;
		&:hover {
			background: $brand-100;
		}
		small {
			display: block;
			font-weight: 600;
		}
	}
}
