$border-color: $neutral-100;

.calendar {
  a {
    border-bottom: solid 1px $border-color;
    display: block;
    text-decoration: none;
    display: grid;
    grid-template-columns: 8rem auto;
    grid-auto-rows: auto;
    align-items: baseline;
    .label {
      color: $brand-500;
      font-size: 0.7em;
    }
    .title {
      font-weight: 600;
    }
    .description {
      color: $neutral-500;
      grid-column-start: 2;
      p {
        margin: 0;
      }
    }
  }

  .project-due a {
    .label {
    }
  }

  .week {
    border-top: solid 1px $border-color;
  }

  @media screen and (min-width: 30em) {
    .calendar-date {
      display: grid;
      grid-template-columns: 20% 80%;
    }
  }
}
