// FIXME: This should be handled globally, but that wasn't working
@import 'mixins';

[role=contentinfo] {
  @include pattern-checked(3px);
  border-top: 1px solid;
  padding: 12px;
  min-height: 56px / 2 + 32px;
  box-sizing: border-box;
  margin-top: 56px * 2 / 3;
  display: flex;
  align-items: center;
  > * {
    background-color: white;
    padding: 0 4px;
    margin-right: 8px;
  }
}
