ul.tags {
  display: inline;
  margin: 0;
  li {
    display: inline-block;
    border: 1px solid;
    color: black;
    font-size: smaller;
    padding: 2px 8px;
    border-radius: 1em;
  }
}

.hashtag {
  &::before {
    color: $brand-500;
    content: "# ";
    @media screen and (min-width: 55em) {
      display: block;
      float: left;
      margin-left: -0.75em;
      content: "#";
    }
  }
}
